* {
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  background-color: #2e2e2e;
  height: 60px;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.nav ul li {
  color: blue;
  font-size: 20px;
  float: left;

  list-style: none;
  background-color: aliceblue;
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(56, 150, 233);
}
.color {
  height: 40px;
  width: 100px;
  margin-top: 15px;
}
.header {
  height: 40px;
}
